@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.sky {
  background-image: url("assets/skyjh.jpg");
  background-size: cover;
  background-position: bottom;
}
